{% extends "base.html" %}
{% block title %}My contact page{% endblock %}
{% block header %} Welcome to Safari Lab{% endblock %}
{% block content %}
    <p>This is my Contact page</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam autem, deleniti dolore dolorem doloremque dolorum eum facere harum impedit laudantium, libero odio optio praesentium repellat sapiente sunt tempore voluptate, voluptatem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, debitis deserunt, dolorum earum eos et excepturi facere itaque iusto labore nemo odio officiis praesentium, quae quas quis quo sed totam.</p>


{% endblock %}