{% extends 'base.html' %}
{% load static %}
{% block gallery %}My Gallery{% endblock %}
{% block header %} Welcome to Safari Lab {% endblock %}
{% block content %}

    <img src="{% static 'images/nature5.jpg' %}" alt=""height="500"width="500">
    <img src="{% static 'images/nat6.jpg' %}" alt=""height="500"width="500">
    <img src="{% static 'images/nat7.jpg' %}" alt=""height="500"width="500">
    <img src="{% static 'images/nat8.jpg' %}" alt=""height="500"width="500">
    <img src="{% static 'images/nat9.jpg' %}" alt=""height="500"width="500">
    <img src="{% static 'images/nature1.jpg' %}" alt=""height="500"width="500">
    <img src="{% static 'images/download.jpg' %}" alt=""height="500"width="500">
    <img src="{% static 'images/nature2.jpg' %}" alt=""height="500"width="500">
    <img src="{% static 'images/nat8.jpg' %}" alt=""height="500"width="500">
    <img src="{% static 'images/download.jpg' %}" alt=""height="500"width="500"><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloribus iste maiores minima necessitatibus perspiciatis quod sit soluta tenetur vitae. Assumenda debitis, dolore expedita molestiae nam obcaecati perferendis possimus quos!</p>



{% endblock %}